{% extends "layout.html" %}

{% block title %}
Informacion

{% endblock %}

{% block content %}

<h1>Bienvenido a nuestra tienda </h1>

<div class="box">
    <p>

        ¡Explora nuestra amplia colección de camisetas y encuentra el estilo que mejor se adapte a ti! En nuestra
        tienda,
        ofrecemos una variedad de camisetas únicas y originales para hombres, mujeres y niños. Desde diseños clásicos y
        elegantes hasta estampados divertidos y modernos, tenemos algo para todos los gustos.
    </p>
    <br>
    <p>
        Nuestro objetivo es proporcionarte las camisetas de la más alta calidad al mejor precio posible. Trabajamos con
        los
        mejores materiales y nos esforzamos por ofrecerte un producto que te encantará.
    </p>
    <br>
    <p>

        Además, ofrecemos opciones de personalización para que puedas crear tu propia camiseta única. ¡No dudes en
        contactarnos si tienes alguna pregunta o necesitas ayuda!

    </p>
    <br>

    <br>
    ¡Gracias por visitarnos y esperamos que encuentres la camiseta perfecta!
    <br>
    </p>

</div>
<h3>{{texto}}</h3>

{% endblock %}